@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
.headerSection{
    width: 100%;
    display: flex;
    background-color: black;
    height: 5rem;
    justify-content: center;
    align-items: center;
}
.headerSection .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerSection .navbar .logoContainer{
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.headerSection .navbar .logoContainer h1{
    font-size: 50px;
    font-weight: 600;
}
.headerSection .navbar .logoContainer h1 a{
    text-decoration: none;
    color: red;
}
.headerSection .navbar .navigationLinks{
    width: 80%;
    display: none;
    justify-content: end;
    align-items: center;
}
.headerSection .navbar .navigationLinks ul{
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 45px;
}
.headerSection .navbar .navigationLinks ul li{
    font-size: 16px;
    font-weight: 400;
    list-style: none;
}
.headerSection .navbar .navigationLinks ul li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.headerSection .navbar .navigationLinks ul li a:hover{
    cursor: pointer;
    color: red;
}
.headerSection .navbar .offCanvasNavigationBar{
    width: 40px;
    display: flex;
    align-items: center;
}
.headerSection .navbar .offCanvasNavigation{
    display: flex;
    width: 100%;
    position: absolute;
    height: calc(100vh - 5rem);
    background-color: black;
    left: -120rem;
    top: 5rem;
    transition: left 0.6s;
}
.headerSection .navbar .offCanvasNavigation ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.headerSection .navbar .offCanvasNavigation ul li{
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    text-align: center;
}
.headerSection .navbar .offCanvasNavigation ul li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.headerSection .navbar .offCanvasNavigation ul li a:hover{
    cursor: pointer;
    color: red;
}
/* ------Styling for sm width screen------ */
@media (min-width: 640px) {
    
    .headerSection .navbar .navigationLinks{
        display: none;
    }
    .headerSection .navbar .offCanvasNavigationBar{
        display: flex;
    }
    .headerSection .navbar .offCanvasNavigation{
        display: flex;
    }
    
}
/* ------Styling for md width screen------ */
@media (min-width: 768px) {
    
    .headerSection .navbar .navigationLinks{
        display: flex;
    }
    .headerSection .navbar .navigationLinks ul{
        gap: 28px;
    }
    .headerSection .navbar .offCanvasNavigationBar{
        display: none;
    }
    .headerSection .navbar .offCanvasNavigation{
        display: none;
    }
}
/* ------Styling for lg width screen------ */
@media (min-width: 1024px) {
    .headerSection .navbar{
        padding: 0px 40px;
    }
    .headerSection .navbar .navigationLinks{
        display: flex;
    }
    .headerSection .navbar .navigationLinks ul{
        gap: 40px;
    }
    .headerSection .navbar .offCanvasNavigationBar{
        display: none;
    }
    .headerSection .navbar .offCanvasNavigation{
        display: none;
    }
}
/* ------Styling for xl width screen------ */
@media (min-width: 1280px) {
    .headerSection .navbar .navigationLinks{
        display: flex;
    }
    .headerSection .navbar .navigationLinks ul{
        gap: 50px;
    }
    .headerSection .navbar .offCanvasNavigationBar{
        display: none;
    }
    .headerSection .navbar .offCanvasNavigation{
        display: none;
    }
}

/* ------Styling for 2xl width screen------ */
@media (min-width: 1536px) {
    .headerSection .navbar{
        width: 90%;
    }
    .headerSection .navbar .navigationLinks{
        display: flex;
    }
    .headerSection .navbar .navigationLinks ul{
        gap: 55px;
    }
    .headerSection .navbar .offCanvasNavigationBar{
        display: none;
    }
    .headerSection .navbar .offCanvasNavigation{
        display: none;
    }
}